/* Algemene styling in de grid-container en per grid-item */
	.grid-container{
		padding-top: 20px;
		display: grid;

		grid-template-rows: 1fr;
		grid-gap: 0px;

		width: 90%;
		margin: 0 auto;

		grid-template-columns: 1fr;

		grid-template-areas:
			"klok"
      "schermpje"
      "knoppen"
	}

                              /* Styling van de grid-boxes bij mobiele weergave */

                                .box1{
                                  grid-area: klok;
                                  background: rgb(0,82,136);
                                  background: linear-gradient(180deg, rgba(0,82,136,1) 0%, rgba(1,51,83,1) 100%);
                                  border-radius: 20px 20px 0px 0px;
                                  text-align: center;
                                  display: flex;
                                  flex-flow: column;
                                  flex-wrap: wrap-reverse;
                                  align-content: center;
                                  position: relative;
                                  border-top: 5px solid #005288;
                                  border-right: 5px solid #005288;
                                  border-left: 5px solid #005288;
                                }

                                .box2{
                                  grid-area: schermpje;
                                /*  background-color: green; */
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  resize: both;
                                  position: relative;
                                  border-right: 5px solid #005288;
                                  border-left: 5px solid #005288;
                                }

                                .box3{
                                  grid-area: knoppen;
                                  position: relative;
                              /*    background-color: blue; */
                                  border-radius: 0px 0px 20px 20px;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  resize: both;
                                  border-right: 5px solid #005288;
                                  border-left: 5px solid #005288;
                                  border-bottom: 5px solid #005288;
                                }

/* Styling in box1 */
.clock{
  width: 15em;
  height: 15em;
  margin: 10% 0% 15% 0%;
}

/* Styling in box2 */


/* Styling in box3 */


/* Kleine tablet staand */
@media only screen and (min-width: 599px) and (max-width: 767px){
	.grid-container{
    padding-top: 20px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0px;

		width: 90%;
		margin: 0 auto;
		margin-bottom: 30px;

		grid-template-areas:
			"klok klok"
			"schermpje knoppen"
	}

  .box1{
    border-radius: 20px 20px 0px 0px;
    border-top: 10px solid #005288;
    border-right: 10px solid #005288;
    border-bottom: 0px;
    border-left: 10px solid #005288;
  }

  .clock{
    width: 25em;
    height: 25em;
    margin: 10% 0% 15% 0%;
  }


  .box2{
    border-radius: 0px 0px 0px 20px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 10px solid #005288;
    border-left: 10px solid #005288;
  }

  .box3{
    border-radius: 0px 0px 20px 0px;
    border-top: 0px;
    border-right: 10px solid #005288;
    border-bottom: 10px solid #005288;
    border-left: 0px;
  }

}

/* Grote tablet staand */
@media only screen and (min-width: 768px) and (max-width: 949px){
	.grid-container{
    padding-top: 20px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 65% 35%;
		grid-gap: 0px;

		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;

		grid-template-areas:
			"klok schermpje"
			"klok knoppen"
	}

  .box1{
    border-radius: 20px 0px 0px 20px;
    border-top: 10px solid #005288;
    border-right: 0px;
    border-bottom: 10px solid #005288;
    border-left: 10px solid #005288;
  }

  .clock{
    width: 15em;
    height: 15em;
    margin: 15% 0% 15% 0%;
  }

  .box2{
    border-radius: 0px 20px 0px 0px;
    border-top: 10px solid #005288;
    border-right: 10px solid #005288;
    border-bottom: 0px;
    border-left: 0px;
  }

  .box3{
    border-radius: 0px 0px 20px 0px;
    border-top: 0px;
    border-right: 10px solid #005288;
    border-bottom: 10px solid #005288;
    border-left: 0px;
  }

}

/* Tablet liggend */
@media only screen and (min-width: 950px) and (max-width: 1299px){
	.grid-container{
    padding-top: 20px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 65% 35%;
		grid-gap: 0px;

		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;

		grid-template-areas:
			"klok schermpje"
			"klok knoppen"
	}

  .box1{
    border-radius: 20px 0px 0px 20px;
    border-top: 10px solid #005288;
    border-right: 0px;
    border-bottom: 10px solid #005288;
    border-left: 10px solid #005288;
  }

  .clock{
    width: 20em;
    height: 20em;
    margin: 15% 0% 15% 0%;
  }


  .box2{
    border-radius: 0px 20px 0px 0px;
    border-top: 10px solid #005288;
    border-right: 10px solid #005288;
    border-bottom: 0px;
    border-left: 0px;
  }

  .box3{
    border-radius: 0px 0px 20px 0px;
    border-top: 0px;
    border-right: 10px solid #005288;
    border-bottom: 10px solid #005288;
    border-left: 0px;
  }

}

/* Kleine desktop */
@media only screen and (min-width: 1300px) and (max-width: 1919px){
	.grid-container{
    padding-top: 20px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 65% 35%;
		grid-gap: 0px;

		width: 65%;
		margin: 0 auto;
		margin-bottom: 30px;

		grid-template-areas:
			"klok schermpje"
			"klok knoppen"
	}

  /* styling in box1, de box met de klok */
  .box1{
    border-radius: 20px 0px 0px 20px;
    border-top: 10px solid #005288;
    border-right: 0px;
    border-bottom: 10px solid #005288;
    border-left: 10px solid #005288;
  }

  .clock{
    width: 20em;
    height: 20em;
    margin: 10% 0% 10% 0%;
  }

  .box2{
    border-radius: 0px 20px 0px 0px;
    border-top: 10px solid #005288;
    border-right: 10px solid #005288;
    border-bottom: 0px;
    border-left: 0px;
  }

  .box3{
    border-radius: 0px 0px 20px 0px;
    border-top: 0px;
    border-right: 10px solid #005288;
    border-bottom: 10px solid #005288;
    border-left: 0px;
  }

}

/* Grote desktop */
@media only screen and (min-width: 1920px) {
	.grid-container{
    padding-top: 20px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 65% 35%;
		grid-gap: 0px;

		width: 60%;
		margin: 0 auto;
		margin-bottom: 30px;

		grid-template-areas:
			"klok schermpje"
			"klok knoppen"
	}

  .box1{
    border-radius: 20px 0px 0px 20px;
    border-top: 10px solid #005288;
    border-right: 0px;
    border-bottom: 10px solid #005288;
    border-left: 10px solid #005288;
  }

  .clock{
    width: 30em;
    height: 30em;
    margin: 10% 0% 10% 0%;
  }

  .box2{
    border-radius: 0px 20px 0px 0px;
    border-top: 10px solid #005288;
    border-right: 10px solid #005288;
    border-bottom: 0px;
    border-left: 0px;
  }

  .box3{
    border-radius: 0px 0px 20px 0px;
    border-top: 0px;
    border-right: 10px solid #005288;
    border-bottom: 10px solid #005288;
    border-left: 0px;
  }

}

/*
#klokBox{
  background-color: dodgerblue;
  position: relative;
  width: 75%;
  height: 100%;
  margin: 3% 0% 3% 0%;
}
*/
